
footer
{
    position: relative;
    width: 100%;
    height: auto;
    padding: inherit;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px;
    /* width: auto; */
}
footer .container1
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}
footer .container1 .sec
{
    margin-right: 13px;
    padding-left: 80px;
}
footer .container1 .sec.aboutus
{
    width: 40%;
}

footer .container1 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container1 .sec.aboutus h2:before
{
    content:'';
    position: dabsolute;
    bottom: -5px;
    Left: 0;
    width: 50px;
    height: 2px;
    background:#f00;
}

footer  p
 {
    color: #999;
 }
 .sci{
    margin-top: 20px;
    display: flex;
 }
 .sci li a
 {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;;
 }

 .sci li a:hover
 {
    background: #f00;
 }
 .sci li a .fa 
 {
    color: #fff;
    font-size: 20px;
 }
.quicklinks
{
    position: relative;
    width: 25%;
}
.quicklinks ul li
{
    list-style: none;
}


.quicklinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks ul li a:hover
{
    color: #fff;
}

.contacts
{
    width: calc(35% - 60px);
    margin-right: 0 !important;

}

.contacts .info{
    position: relative ;
}

.contacts .info li
{
    display: flex;
    margin-bottom: 16px;
}
.contacts .info li span:nth-child(1)
{
    color:#fff;
    font-size: 20px;
    margin-right: 10px;
}

.contacts .info li span
{
    color: #999;
}
.contacts .info li span a 
{
     color: #999;
     text-decoration: none;
}

.contacts .info li a:hover
{
    color: #fff;

}

.copyrighttext
{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;

}

@media (max-width: 991px) 
{
    font
    {
        padding: 40px;
    }
    footer .container
    {
        flex-direction: column;
    }
    footer .container .sec
    {
        margin-right: 0px;
        margin-bottom: 40px;
    }
    footer. container .sec.aboutus {
        width: 100%;
    }
    .copyrighttext
    {
        padding: 8px 40px;
    }
}


h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}