@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:ital,wght@0,300;0,500;1,600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Koulen', cursive;
}
nav{
  height:90px;
  background:  #9b1119;;
  display:flex;
  align-items: center;
  justify-content:space-between;
  padding:0px 50px 0px 20px;
}
nav img{
  width:91px;
}
.logo_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .logo{
  font-size:33px;
  color:#fff;
  font-size:2rem;
}
nav ul{
  display: flex;
  list-style:none;

}
nav ul li{
  margin: 0 8px;
}
nav ul li a{
  color:#fff;
  text-decoration:none;
  font-size:17px;
  font-weight:500;
  letter-spacing: 1px;
  padding: 8px 8px;
  border-radius: 6.5px;
  transition: all 0.3s ease;
}
nav ul li a:hover,
nav ul li a.active{
  color:#1b1b1b;
  background: #fff;
}
nav .menu-btn i{
  color:#fff;
  font-size:22px;
  cursor:pointer;
  display: none;
}

#click{
  display:none;
}
footer{
  padding: 3rem;
  background-color: #dddddd85;

}
footer p{
  text-align: center;
  color: gray;
}
 

@media (max-width: 940px){
  nav .menu-btn i{
    display:block;
  }
  nav .logo{
    font-size: 1rem;
  }

  #click:checked ~.menu-btn i:before{
    content: "\f00d";
  }
  /* #click:checked  */
  nav ul{
    position: fixed;
    top: 90px;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: block;
    background:#111;
    text-align: center;
    transition:all 0.3s ease;
    z-index: 1000;
  }

  #click:checked ~ ul{
    left: 0%;
    width: 100vw;
   
  }
  nav ul li{
    margin:40px 0;
  }
  nav ul li a{
    font-size:20px;
    display:block;
  }
  nav ul li a:hover,
nav ul li a.active{
  color:cyan;
  background: none;
}
}
@media (max-width:1235px){
 nav .logo{
  font-size: 1.3rem;
 }
 nav ul li a{
  font-size: 0.9rem;
  padding: 1px;
 }
}

